# Data Science Tools and Echosystem

### In this notebook, Data Science  Tools and Ecosystem are summarized.

**Objectives**
+ List popular languages for data science
+ List commonly used libraries by Data Scientist
+ List Open Source Data Science tools

#### Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. Scala
4. Java

#### Some of the commomnly used libraries used by Data scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

| Data Sience Tools |
| :--- |
| Apache Nifi |
| MsSql |
| Apache Superset |

### Below are a few examples of evaluating arithematic expressions in Python

In [3]:
#This is a simple arithematic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by divinding by 60
200/60

3.3333333333333335

## Author
Anu